[package]
name = "trending"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
snafu.workspace = true

[dev-dependencies]
tokio.workspace = true